* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color:#212529;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        color:#00730b;
    }
}

/* inspired by bootstrap */

.fw-100 {font-weight:100}
.fw-300 {font-weight:300}
.fw-400 {font-weight:400}
.fw-500 {font-weight:500}
.fw-700 {font-weight:700}
.fw-900 {font-weight:900}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bg-dark {
    background-color: #212529;
    color:#fff;
}

.bg-white {
    background-color: #fff;;
    color:#212529;;
}

.text-dark {
    color: #212529;
}

.p-1 {
    padding:0.25rem;
}

.p-2 {
    padding:0.5rem;
}

.p-3 {
    padding:1rem;
}

.p-4 {
    padding:1.5rem!important;
}

.pt-4 {
    padding: 2rem!important;
}

.pt-5 {
    padding-top: 3rem!important;
}

.pt-0 {
    padding-top:0!important;
}

.p-5 {
    padding:3rem!important;
}

.mt-1 {
    margin-top:0.25rem;
}

.mt-2 {
    margin-top:0.5rem;
}

.mt-3 {
    margin-top:1rem;
}

.mt-4 {
    margin-top:1.5rem;
}

.mt-5 {
    margin-top:3rem;
}

.me-1 {
    margin-right:0.25rem;
}

.me-2 {
    margin-right:0.5rem;
}

.me-3 {
    margin-right:1rem;
}

.me-4 {
    margin-right:1.5rem;
}

.me-5 {
    margin-right:3rem;
}


.ms-1 {
    margin-left:0.25rem;
}

.ms-2 {
    margin-left:0.5rem;
}

.ms-3 {
    margin-left:1rem;
}

.ms-4 {
    margin-left:1.5rem;
}

.ms-5 {
    margin-left:3rem;
}

.position-relative {
    position:relative;
}

.poision-absolute {
    position: absolute;
}

.position-absolute {
    position:absolute;
}



.top-0 {
    top:0;
}

.start-0{
    left:0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    & > * {
        padding:10px;
        width:100%;

        &.no-padding:first-child{
            padding-left: 0;
        }

        &.no-padding:last-child{
            padding-right: 0;
        }
    }
}

.pe-5 {
    padding-right:3rem;
}

.ps-0 {
    padding-left: 0!important;
}

.ps-5 {
    padding-left:3rem;
}

.p-0 {
    padding: 0!important;
}

.border-0 {
    border:none;
}

.text-center {
    text-align: center;
}

/* custom general styles */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.dimmed {
    color:#aaa;
}

section.p-1,
section.p-2,
section.p-3,
section.p-4 {
    padding-right:0;
    padding-left:0;
}

input,
select {
    border-radius: 5px;
    padding:3px;
    outline:none;
    border: 1px solid #ddd;
}

.rounded {
    border-radius: 8px;
}

select {
    cursor: pointer;
}

.container {
    max-width:95%;
    margin:0 auto;

    @media (min-width:1200px){
        max-width: 1140px;
    }
}

button,
.btn {
    padding:10px 20px;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid #aaa;
    transition-duration: 250ms;
    border:0;

    &:hover {
        background-color: #ddd;
    }
}

h1,
.h1 {
    font-size: 3rem;
}

h2,
.h2 {
    font-size: 2.5rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

.text-brand {
    color:#00730b;
}

.box {
    box-shadow: 0 0 7px -5px;
    padding:1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.col-1 {
    width:100%
}

.col-1-2 {
    width:50%
}

.col-1-3 {
    width:33.33%;

    @media (max-width:768px){
        width:100%;
        margin:0;
    }
}

.col-2-3 {
    width:66.66%
}

.col-1-4 {
    width:25%
}

.col-3-4 {
    width:75%
}

.col-1-5 {
    width:20%
}

.col-2-5 {
    width:40%
}

.col-3-5 {
    width:60%
}

.col-4-5 {
    width:80%
}

.col-1-10 {
    width:10%
}

.col-9-20 {
    width:45%
}

.pe-0 {
    padding-left: 0;
}

.pb-0 {
    padding-bottom: 0!important;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25em;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.text-decoreation-underline {
    text-decoration:underline;
}
/* custom specific styles */

header {
    position:sticky;
    background-color: #bfffc6;
    top:0;
    padding:8px 0;
    box-shadow: 0 0 7px -5px;
    z-index:99;
}

footer {
    padding:10px 0;
}

#most-common {

    background-color: #f4f4f4;
    padding:50px 0;

    @media (max-width:768px){
        .container > span {
            display:none;
        }

        h2 {
            text-align: center;
        }
    }

    .col-1-3{
        &:nth-child(3n+1){
            padding-left:0;

            @media (max-width:768px){
                padding-left:10px;
            }
        }

        &:nth-child(3n){
            padding-right:0;

            @media (max-width:768px){
                padding-right:10px;
            }
        }

        &:nth-child(9n),
        &:nth-child(9n-1),
        &:nth-child(9n-2){
            padding-bottom:0;
            * {
                margin-bottom: 0;
            }
        }
    }

}

.currency-font {
    font-size: 13px;
    font-weight: 800;
    margin:0 8px;
}

#converter {
    .currency-flag {
        position: absolute;
        right: 44px;
        top: calc(50% - 8px);
    }

    @media (max-width:768px){
        width: 100%;
        padding-right: 0;
    }
}

.subtitle {
    margin-bottom: 10px;
    font-size: 17px;
    margin-top: 39px;
    font-weight: 500;

    @media (max-width:768px){
        text-align: center;
    }
}

ul#timetable {
    margin:1.5rem 0;
    margin-bottom: 0;
        li {
            margin-bottom:1.2rem;
        }
}